<div class="wrapper">
  <form [formGroup]="formUserLogin" (ngSubmit)="login()">
    <div class="body">
      <img class="logo" ngSrc="/img/parrot.png" priority
           alt="img login" height="130" width="130">
      <h3>Login</h3>
      @if (email?.invalid && email?.touched) {
        <div class="alert alert-danger mb-1" role="alert">
          Please, enter a valid email
        </div>
      }
      <div class="form-floating mb-3">
        <input type="email" formControlName="email" class="form-control" placeholder="name@example.com">
        <label>Email address</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" formControlName="password" class="form-control" placeholder="Password">
        <label>Password</label>
      </div>
      <button type="submit" [disabled]="formUserLogin.invalid" class="btn btn-success btn-lg">Login</button>
      <p class="mt-2">Not a user yet? <a routerLink="/register">Register</a></p>
    </div>
  </form>
</div>
